<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.SQLMapper">

    <!--select * from user where username like '%#{username}%'
    select * from user where username like '%?%'
    该占位符会赋值，而不是当成占位符，不可行。

    select * from user where username like '%${username}%'
    select * from user where username like concat('%',#{username},'%')
    会自动拼接，可行。
    -->
    <select id="getUserByLike" resultType="com.mybatis.pojo.user">
        select * from user where username like "%"#{username}"%"
    </select>

    <!--批量删除
    批量删除不使用#{}，会自动解析为单引号，数据库不会执行该解析后的语句。
    delete from user where id in (#{ids})
    -->
    <delete id="deleteMore">
        delete from user where id in (${ids})
    </delete>


    <!--动态获取表名来查询信息
    不使用#{}，会自动解析为单引号，表名不能有单引号。
    -->
    <select id="getUserByTableName" resultType="com.mybatis.pojo.user">
        select * from ${tableName}
    </select>

    <!--
        void insertUser(User user);
        useGeneratedKeys:设置当前标签中的sql使用了自增的主键.
        keyProperty:将自增的主键的值赋值给传输到映射文件中参数的某个属性
    -->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into user values(null,#{username},#{password},#{sex},#{age},#{email})
    </insert>

</mapper>