<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.DynamicSQLMapper">

    <!--
    动态SQL：
     * 1、if：根据标签中test属性所对应的表达式决定标签中的内容是否需要拼接到SQL中
     -->
    <select id="getEmpByConditionif" resultType="com.mybatis.pojo.Emp">

        select * from table_emp where
        <if test="empName != null and empName != ''">
            emp_name =#{empName}
        </if>
        <if test="age !=null and age !=''">
            and  age=#{age}
        </if>
        <if test="sex !=null and sex !='' ">
            and sex=#{sex}
        </if>
    </select>

    <!--
        2、where：
     * 当where标签中有内容时，会自动生成where关键字，并且将内容前多余的and或or去掉
     * 当where标签中没有内容时，此时where标签没有任何效果
     * 注意：where标签不能将其中内容后面多余的and或or去掉
    -->
    <select id="getEmpByConditionwhere" resultType="com.mybatis.pojo.Emp">

        select * from table_emp
        <where>
            <if test="empName != null and empName != ''">
                emp_name =#{empName}
            </if>
            <if test="age !=null and age !=''">
                and  age=#{age}
            </if>
            <if test="sex !=null and sex !='' ">
                and sex=#{sex}
            </if>
        </where>
    </select>

    <!--
    3、trim：
     * 若标签中有内容时：
     * prefix|suffix：将trim标签中内容前面或后面添加指定内容
     * suffixOverrides|prefixOverrides：将trim标签中内容前面或后面去掉指定内容.
     若标签中没有内容时，trim标签也没有任何效果
    -->

    <select id="getEmpByConditiontrim" resultType="com.mybatis.pojo.Emp">

        select * from table_emp
        <trim prefix="where" suffixOverrides="and|or">
            <if test="empName != null and empName != ''">
                emp_name =#{empName}
            </if>
            <if test="age !=null and age !=''">
                and  age=#{age}
            </if>
            <if test="sex !=null and sex !='' ">
                and sex=#{sex}
            </if>
        </trim>
    </select>


    <!--
    4、choose、when、otherwise，相当于if...else if...else
     * when至少要有一个，otherwise最多只能有一个
    -->
    
    <select id="getEmpByChoose" resultType="com.mybatis.pojo.Emp">
        select * from table_emp
        <where>
            <choose>
                <when test="empName != null and empName != ''">
                    emp_name = #{empName}
                </when>
                <when test="age != null and age != ''">
                    age = #{age}
                </when>
                <when test="sex != null and sex != ''">
                    sex = #{sex}
                </when>
                <otherwise>
                    id = 1
                </otherwise>
            </choose>
        </where>
    </select>

    <!--
    5、foreach
     * collection:设置需要循环的数组或集合
     * item:表示数组或集合中的每一个数据
     * separator:循环体之间的分割符
     * open:foreach标签所循环的所有内容的开始符
     * close:foreach标签所循环的所有内容的结束符

    -->
    <delete id="deleteMoreByArray">

        <!--
        delete from table_emp where in
        (
        <foreach collection="eids" item="eid" separator=",">
            #{eid}
        </foreach>

        )
        -->

        delete from table_emp where
        <foreach collection="eids" item="eid" separator="or">
            eid = #{eid}
        </foreach>
        <!--
            delete from table_emp where eid in
            <foreach collection="eids" item="eid" separator="," open="(" close=")" >
                #{eid}
            </foreach>
        -->
    </delete>


    <insert id="insertMoreByList">
        insert into table_emp values
        <foreach collection="emps" item="emp" separator=",">
            (null,#{emp.empName},#{emp.age},#{emp.sex},#{emp.email},null)
        </foreach>
    </insert>


    <!--
    6、sql标签
     * 设置SQL片段：<sql id="empColumns">eid,emp_name,age,sex,email</sql>
     * 引用SQL片段：<include refid="empColumns"></include>
    -->


    <sql id="empColumns">eid,emp_name,age,sex,email</sql>
    <select id="getEmpByCondition" resultType="com.mybatis.pojo.Emp">
        select <include refid="empColumns"></include> from table_emp
    </select>



</mapper>